@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body{
  font-family: 'Comfortaa', cursive;
  background-color: black;
  color: rgb(185, 32, 32);
}

.form-group{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
input{
  font-family: 'Comfortaa', cursive;

  max-width: 500px;
  text-align: center;
}
